/*RESETEO*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  border: none;
}
/*UTILITIES*/
.cursor {
  cursor: auto;
}

/*Style Site*/
/*CONTENEDOR-MAIN*/
#main {
  min-width: 300px;
  display: flex;
}

/*CONTENEDOR-NAV*/
.navegacion-cont {
  height: 100vh;
  min-width: 300px;
  position: sticky;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
}
.navegacion-cont h1 {
  flex-grow: 10%;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 100;
  border: 1px solid black;
}
.navegacion-lista {
  flex-grow: 90%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.navegacion-lista a:last-of-type {
  flex-grow: 2;
}
.navegacion-lista a {
  flex-grow: 1;
  text-align: left;
  padding-left: 1.3rem;
  padding-top: 0.8rem;
  color: black;
  border: 1px solid black;
}

/*CONTENEDOR-DOCUMENTACION*/
.documentacion-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.documento-cont {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.documentacion-cont p,
ul,
small {
  line-height: 1.8rem;
  font-weight: 200;
}
.documentacion-cont small {
  background-color: rgb(189, 184, 184);
  margin-left: 1rem;
  padding-left: 1rem;
}
.lista-doc {
  margin-left: 1rem;
}
.lista-doc li {
  line-height: 2rem;
}

/*MEDIA-QUERIES*/
@media (max-width: 830px) {
  /*MAIN*/
  #main {
    width: 100%;
    flex-direction: column;
  }
  /*NAV*/
  .navegacion-cont {
    position: relative;
    height: 325px;
  }
  .navegacion-cont h1 {
    width: 100%;
    position: sticky;
    border: none;
    text-align: center;
    font-weight: 600;
    top: -50px;
  }
  .navegacion-lista {
    overflow: hidden;
    overflow-y: scroll;
    border: 2px solid #000;
  }
  .navegacion-lista a {
    padding: 1rem;
  }
  /*DOCUMENTACION*/
  .documentacion-cont {
    width: 100%;
    margin: 0 auto;
  }
  .documento-cont {
    width: 90%;
    flex-basis: 100%;
  }
}
