/*RESETEO*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  min-width: 310px;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  /*Object-fit:cover*/
}
a {
  text-decoration: none;
  border: none;
}

/*UTILITIS*/
.section {
  width: 100%;
}

.img-icon {
  height: 30px;
  width: auto;
  margin: 0.5rem;
}

/*STYLE-SITES*/
.header-cont {
  min-width: 310px;
  width: 100vw;
  height: 4.4rem;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #be3144;
  border-bottom: 1px solid #0000;
}
.navegacion-cont {
  height: 100%;

  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-right: 2.3rem;
}

.navegacion-cont a {
  height: 100%;
  width: 6.5rem;
  padding-top: 1.5rem;
  letter-spacing: 0.1rem;
  color: white;
  font-size: 1.3rem;
}
.navegacion-cont a:hover {
  background-color: rgb(39, 64, 112);
}

/*SECTION-ABOUT*/
.about-cont {
  height: 100vh;
  background-color: #2f3033;

  display: flex;
  justify-content: center;
  align-items: center;
}
.text-about {
  height: 10rem;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-about h1 {
  color: white;
  font-size: 4rem;
}
.text-about p {
  font-size: 2rem;
  color: #be3144;
  font-style: italic;
}

/*SECTION-WORK*/
.work-cont {
  width: 100%;
  background-color: #45567d;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.contenedor-work {
  width: 100%;
  padding-top: 2rem;
  margin: auto auto;
}
.h2-cont {
  color: white;
  max-width: 630px;
  margin: auto auto;
  font-size: 1.7rem;
  border-bottom: 1px solid white;
}
.h2-cont h2 {
  padding-bottom: 0.3rem;
}
.work-cards {
  width: 95%;
  margin: 0 auto;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 405px);
  gap: 2.5rem;
  margin-bottom: 4rem;
}
/*CARDSSS*/
.work-card img {
  height: 85%;
  width: 100%;
}
.work-card-text {
  height: 15%;
  background-color: #303841;
}
.work-card-text p {
  cursor: pointer;
  padding-top: 0.5rem;
  font-size: 1.4rem;
  color: white;
}
/*HOVER-CARD: ACTIVAR FLECHAS*/
.work-card-text p b {
  padding: 0 0.5rem 0 0.5rem;
  color: orange;
  opacity: 0;
}
.work-card-text b:hover {
  opacity: 1;
}
.a-cont {
  width: 180px;
  margin-bottom: -5rem;
  margin: 0 auto;
  padding: 0.8rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #303841;
}
.a-cont:hover {
  background-color: #be3144;
}
.a-cont a {
  color: white;
}
span {
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-left: 0.9rem;
}
span:hover {
  margin-left: 10px;
}

/*CONTACT-FOOTER*/
.contact-footer {
  height: 100vh;
}

/*SECTION-CONTACT*/
.contact-cont {
  width: 100%;
  border-bottom: 5px solid #be3144;
  background-color: #303841;
  height: 85vh;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.text-contact {
  width: 90%;
  max-width: 800px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}
.text-contact h2 {
  font-size: 4.2rem;
  color: white;
}
.nav-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.nav-contact a {
  color: white;
  font-weight: 100;
  transition: all 0.5s ease-in;

  display: flex;
  align-items: center;
}
.nav-contact a:hover {
  transform: translateY(40%);
}
.contact-details {
  font-size: 1.6rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

/*FOOTER-CONT*/
.footer-cont {
  background-color: #303841;
  padding: 2rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-cont p {
  color: white;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*MEDIA-QUERIES*/
@media (max-width: 1100px) {
  .work-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 750px) {
  .work-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 445px) {
  .text-contact {
    width: 100%;
  }
  .text-contact h2 {
    font-size: 2rem;
  }
  .nav-contact a {
    padding: 0.5rem;
  }
  .footer-cont {
    flex-direction: column;
  }
}
